<p class='title'>
  Aniki Land
</p>

<div class='regInfo'>
  <a routerLink='/register'>
    Not one of us yet? Register and begin a new adventure!
  </a>

</div>

<div class='logForm'>
  <form [formGroup]='loginForm'>
    <table class='logTbl'>
      <tr> <td class='badge'><p>User Name: </p></td> <td><input formControlName='userName' /></td> </tr>
      <tr> <td class='badge'><p>Password: </p></td> <td><input formControlName='password' type='password' /></td> </tr>
    </table>
    <button (click)='login()'>Login!</button>
    <p>
      {{msg}}
    </p>
  </form>
</div>
